<!-- webアプリの紹介ページ -->


<div class="about-main">
  <h2>memoAppとは</h2>
  <p>
    <br />
    映画やアニメ、漫画、ドラマなど、これまで見たさまざまな作品に対する感想をメモし、記録することができます。<br />
    投稿した文章は、クリックすることで簡単に削除・編集することができるので、気軽に投稿してみましょう。<br />
    ＊何も書かずに投稿することはできません<br />
  </p>
  <img class="about-img" src="toko.png">
  <br /><br /><br />
</div>